Package: enigma2-plugin-extensions-crashlogviewer
Version: 1.7
Description: Plugin to view Enigma2 crashlogs directly on the receiver
Architecture: all
Section: extra
Priority: optional
Maintainer: lululla
License: GPLv2
Homepage: https://github.com/Belfagor2005
Source: enigma2-plugin-extensions-crashlogviewer
