Package: enigma2-plugin-extensions-crashlogviewer
Version: 1.3
Description: Plugin for the needs of the Project XYZ tests
Architecture: all
Section: extra
Priority: optional
Maintainer: @lululla packed
License: GPLv2
Homepage: ********
